
<ng-container *ngIf="inProiezione">
    <table>
      <tr *ngFor="let film of FilmsInSala">        
        <td>
          <img class="media-object" src={{film.pathImg}} alt="...">
        </td>
        <td>
          <h4 class="media-heading"> {{film.nome}} </h4>
          <h6> Anno : {{film.anno}} </h6>
          <h6> Attori: {{film.attori}} </h6>
          <h6> Genere: {{film.genere}} </h6>
          <h6> Durata : {{film.durata}} </h6>
          <p> Trama: {{film.trama}} </p>
        </td>     
      </tr>
    </table>
</ng-container>

<ng-container *ngIf="!inProiezione">
    <table>
      <tr *ngFor="let film of FilmsInUscita">        
        <td>
          <img class="media-object" src={{film.pathImg}} alt="...">
        </td>
        <td>
          <h4 class="media-heading"> {{film.nome}} </h4>
          <h6> Anno : {{film.anno}} </h6>
          <h6> Attori: {{film.attori}} </h6>
          <h6> Genere: {{film.genere}} </h6>
          <h6> Durata : {{film.durata}} </h6>
          <p> Trama: {{film.trama}} </p>
        </td>     
      </tr>
    </table>
</ng-container>


