<ng-container *ngIf="inProiezione">
  <table>
    <tr *ngFor="let film of listaFilm">
      <td>
        <img class="media-object" src={{film.PosterUrl}} alt="...">
      </td>
      <td>
        <h4 class="media-heading"> {{film.Title}} </h4>
        <h6> Anno : {{film.RelaseDate}} </h6>
        <h6> Attori: {{film.Actors}} </h6>
        <h6> Genere: {{film.Genres}} </h6>
        <h6> Durata : {{film.Duration}} </h6>
        <p> Trama: {{film.Plot}} </p>
        <button type="button" class="btn btn-outline-danger btn-round" placement="bottom" ngbPopover="Proiezioni."
        popoverTitle=" ">
        Visualizza Proiezioni
      </button>
      </td>

      

    </tr>
  </table>
</ng-container>

<ng-container *ngIf="!inProiezione">
  <table>
    <tr *ngFor="let film of FilmsInUscita">
      <td>
        <img class="media-object" src={{film.PosterUrl}} alt="...">
      </td>
      <td>
        <h4 class="media-heading"> {{film.Title}} </h4>
        <h6> Anno : {{film.RelaseDate}} </h6>
        <h6> Attori: {{film.Actors}} </h6>
        <h6> Genere: {{film.Genres}} </h6>
        <h6> Durata : {{film.Duration}} </h6>
        <p> Trama: {{film.Plot}} </p>
      </td>

    </tr>
  </table>
</ng-container>