<div>
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Esplora i premi per i nostri soci</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="divp">
        <table style="width:100%">
            <tr>
                <th class="h2 text-success">Nome</th>
                <th class="h2 text-success">Descrizione</th> 
                <th class="h2 text-success">Costo</th>
            </tr>
            <tr *ngFor="let fb of _fidelityBonuses">
                <td class="h4">{{ fb.name }}</td>
                <td class="h4">{{ fb.description }}</td>
                <td class="h4">{{ fb.cost }}</td>
            </tr>
        </table>
    </div>
</div>