<div class="card card-register">
    <h3 *ngIf="mode=='Login'" class="title">Login</h3>
    <h3 *ngIf="mode=='Register'" class="title">Registrazione</h3>
    <form class="register-form">

        <label>Email</label>
        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="nc-icon nc-email-85"></i>
                </span>
            </div>

            <input type="text" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false">
        </div>

        <label>Password</label>
        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="nc-icon nc-key-25"></i>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false">
        </div>
        <div *ngIf="mode=='Register'">
            <label>Conferma password</label>
            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="nc-icon nc-key-25"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Conferma password" (focus)="focus1=true" (blur)="focus1=false">
            </div>
        </div>
        
        <button *ngIf="mode=='Login'" class="btn btn-default btn-block btn-round">Accedi</button>
        <button *ngIf="mode=='Register'" class="btn btn-default btn-block btn-round">Registrati</button>
        <button *ngIf="mode=='Login'" class="btn btn-default btn-block btn-round" (click)="changeMode()">Non hai un account?</button>
        <button *ngIf="mode=='Register'" class="btn btn-default btn-block btn-round" (click)="changeMode()">Hai già un account?</button>
    </form>
</div>