
  <div class="page-header page-header-xs" data-parallax="true"
    style="background-image: url('./assets/img/fabio-mangione.jpg'); margin-bottom: 25px">
    <div class="filter"></div>
  </div>

  <table>
    <tr>
      <td>
        <img class="media-object" src={{film.PosterUrl}} alt="...">
      </td>
      <td>
        <h4 class="media-heading"> {{film.Title}} </h4>
        <h6> Anno : {{film.RealeaseDate}} </h6>
        <h6> Attori: {{film.Actors}} </h6>
        <h6> Genere: {{film.Genres}} </h6>
        <h6> Durata : {{film.Duration}} </h6>
        <p> Trama: {{film.Plot}} </p>
      </td>
    </tr>
  </table>

