<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
      <div class="filter"></div>
      <div class="content-center">
          <div class="container">
              <div class="title-brand">
                  <h1 class="presentation-title">Informazioni utili</h1>
              </div>
          </div>
      </div>
  </div>
    <div class="main">
        <div class="col-md-4">
            <h3> DOVE SIAMO: </h3>
            <p text="center">
              Via milano, 8
              <br>
              Varese 21000,
              <br>
              Italia
              <br>
            </p>
        </div>
        <div class="col-md-4">
            <h3> ORARI: </h3>
            <p text="center">
              Lun      chiuso
              <br>
              Mar/Ven: 18.30-22.30
              <br>
              Sab/Dom: 15.30-01.
              <br>
            </p>
        </div>
        <div class="col-md-4">
            <h3> CONTATTI: </h3>
            <p text="center">
              tel: +39 03316958569
              <br>
              email: multisaladelfino@info.com
              <br>
            </p>
        </div>
        
      </div>
</div>


