<!-- <div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
      <div class="filter"></div>
      <div class="content-center">
          <div class="container">
              <div class="title-brand">
                  <h1 class="presentation-title">Programmazione/h1>
              </div>
          </div>
      </div>
  </div>
  <div class="main">
    <br>
    <h4> Scegliere il giorno desiderato: </h4>
    <div class="dropdown">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Dropdown
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li class="dropdown-header">Dropdown header</li>
            <a class="dropdown-item" href="#pk">Action</a>
            <a class="dropdown-item" href="#pk">Another action</a>
            <a class="dropdown-item" href="#pk">Something else here</a>
        </ul>
      </div>

  </div>
</div> -->
